


.row{
    margin-top:45px;
}

.text{
    font-family: Arial;
    font-size: 20px;
}

.tables{
    font-family:Arial;
}

#results{

}


.pics{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.option{
    margin-top: 40px;
}



.button{
    width: 300px;
    padding: 10px;
    border: 2px solid navy;
    margin: 25px;
    font-family: Arial;
    font-size: 20px;
}

.picsize{
	width: 400px;
    height: 300px;
	margin-left: auto;
    margin-right: auto;
}

.picsize img{
	width: 100%;
    height: auto;

}
